@use '../../styles/tokens' as *

.button
	+text-style-buttons
	text-align: center
	padding: 1.15rem 2.85rem
	border-radius: .7rem
	display: block
	margin: 0 auto
	+breakpoint-mobile
		+text-style-buttons-small
		padding: .85em 1.3em
		min-width: 144px 
	&:hover
		+transition
	&-cta
		background: $color-accent-white
		+text-gradient-main
		&:hover
			background: $color-accent-white-65
			+text-gradient-main
	&-side
		background: $color-accent-white-10
		color: $color-accent-white
		&:hover
			background: $color-accent-white-20