@use '../../styles/tokens' as *
    
.hero-content
	width: 100%
	padding: 4em 0 //De 14px
	display: grid
	grid-auto-flow: row
	row-gap: 4em //Ver si se cambia a 40px o 3em
	justify-items: center
	+breakpoint-mobile
		margin-top: 2em
.hero-group-texts
	text-align: center
	display: grid
	grid-auto-flow: row
	row-gap: 1.2em //De 14 será 16.8?
	// +breakpoint-tablet // Legacy
	// 	width: 90%
	// +breakpoint-mobile
	// 	width: 100%
	// 	text-align: left
	// 	row-gap: 1.5em
.hero-group-buttons
	display: grid
	grid-auto-flow: column
	column-gap: .75em
	+breakpoint-mobile
		width: 100%
		grid-auto-flow: row
		row-gap: .75em
.hero-title
	margin: 0 auto
	color: $color-accent-white
	+text-style-h1
	+breakpoint-mobile
		+text-style-h1-small
.hero-description
	max-width: 420px
	margin: 0 auto
	+text-style-body
	color: $color-accent-white-65
	+breakpoint-mobile
		max-width: 260px
		+text-style-body-small