@use 'colors' as *
@use 'mixins-color-scheme' as *

.background-sea
	background-image: var(--color-background-base)
	background-blend-mode: multiply, normal
.background-main
	background-image: var(--color-background-main)
	background-size: 100% 500px
	background-repeat: no-repeat
		
.background-blur
	background-color: rgba($color-accent-white, .01)
	backdrop-filter: blur(150px)
	-webkit-backdrop-filter: blur(150px)
	-moz-backdrop-filter: blur(150px)