//	==========================================================================
	1. Design Tokens - Set up for atomic elements from design kit as variables

//	1.1 Colors Variables
    
$color-dark-90: #19192E
$color-dark-40: #8181A1
$color-gray-60: #5D87A8
$color-gray-50: #859FB4
$color-gray-10: hsla(210, 14%, 99%, 1)
$color-sky: hsla(207, 100%, 63%, 1)
$color-sky-40: hsla(207, 100%, 70%, 1)
$color-sky-10: hsla(208, 90%, 96%, 1)
$color-white: #FFFFFF
$color-accent-white: #FFFFFF
$color-accent-white-65: rgba($color-accent-white, .65)
$color-accent-white-50: rgba($color-accent-white, .5)
$color-accent-white-30: rgba($color-accent-white, .3)
$color-accent-white-20: rgba($color-accent-white, .3)
$color-accent-white-10: rgba($color-accent-white, .1)
$color-main-50: #AF48FF
$color-main-20: #F5EDFF
$color-main-10: #f5f2f8
$color-main-05: #FBFBFC
$color-base-50: #F206B0
$color-layout-05: #FBFBFC
$gradient-main: -webkit-linear-gradient(-75deg, #FF26B2 0%, #851BD9 64%, #3F0FFF 100%)
$gradient-background-light: -webkit-linear-gradient( #F5EEFF 0%, rgba(255, 255, 255, 0) 100%)
$gradient-sea: -webkit-linear-gradient(0deg, #75DBFF 0%, #59FFEB 100%), -webkit-linear-gradient(225deg, #8CFFCC 0%, #695AF4 100%)